<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!---------- added bootstrap css  ---------->
  <link rel="stylesheet" href="/assets/bootstrap-5.3.8/css/bootstrap.min.css" />
  <!----------CSS Link Aded  ---------->
  <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
  <footer class="footer  bg-black text-white">
    <div class="container">
      <div class="row gy-4">
        <!-- Logo & Contact -->
        <div class="col-lg-2 col-md-4">
          <img src="/assets/img/footer-logo.png" alt="logo" class="mb-3" width="130">
          <div class="contact-info">
            <div class="pt-2"><i class="bi bi-envelope me-2"></i> info@plat_forms.com</div>
            <div class="pt-2"><i class="bi bi-telephone me-2"></i> +80 8569854785</div>
          </div>
        </div>

        <!--  Links Group 1 -->
        <div class="col-lg-2 col-md-4 ">
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Gallery</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Blogs</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">About Us</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Contact Us</a>
        </div>

        <!-- Links Group 2 -->
        <div class="col-lg-2 col-md-4">
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Customer Service</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Terms & Conditions</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Return Policy</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">FAQs</a>
        </div>

        <!--  Links Group 3 -->
        <div class="col-lg-2 col-md-4">
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Terms of Use</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Privacy Policy</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Cookies Policy</a>
          <a href="#" class="d-block text-white mt-2 text-decoration-none">Data Security</a>
        </div>

        <!--  Links Group 4 -->
        <div class="col-lg-2 col-md-4">
        </div>

        <!--  Newsletter -->
        <div class="col-lg-2 col-md-4">
          <h6>Sign up for Newsletter</h6>
          <form class="newsletter-form d-flex flex-column">
            <input type="email" placeholder="Email Address" class=" mb-2 letter-News" required />
            <button type="submit" class="submit-btn">Subscribe</button>
          </form>
        </div>

      </div>
    </div>
  </footer>

  <!---------- added bootstrap js  ---------->
  <script src="/assets/bootstrap-5.3.8/js/bootstrap.min.js"></script>
</body>

</html>